.App {
   height:100%;

}
.App .container {
  height: 100%;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-template-areas:  
  "h h h h h h h h h h h h h"  
  "h h h h h h h h h h h h h"  
  "n n c c c c c c c c c c c"  
  "n n c c c c c c c c c c c"  
  "n n c c c c c c c c c c c"  
  "n n c c c c c c c c c c c" 
  "n n c c c c c c c c c c c"  
  "n n c c c c c c c c c c c"  
  "n n c c c c c c c c c c c"  
  "n n c c c c c c c c c c c"  
  "n n c c c c c c c c c c c"  
  "n n c c c c c c c c c c c"  
  "n n c c c c c c c c c c c"  
  "n n c c c c c c c c c c c"  
  "n n c c c c c c c c c c c"  
  "n n c c c c c c c c c c c"
}

.header {
  border: 1px solid gray;
  grid-area: h;
  
}

.nav {
  border: 1px solid gray;
  grid-area: n;
  
}

.content {
  border: 1px solid gray;
  grid-area: c;
}


/* .App-logo { 
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
 }

  .App-intro {
    font-size: large;
  } */
