.App {
   height: 100%;
   width: 100%;
}
.App .container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:  
  "h h h h h h h h h h h h h"  
  "h h h h h h h h h h h h h"  
  "c c c c c c c c c c c c c"  
  "c c c c c c c c c c c c c"  
  "c c c c c c c c c c c c c"  
  "c c c c c c c c c c c c c" 
  "c c c c c c c c c c c c c"  
  "c c c c c c c c c c c c c"  
  "c c c c c c c c c c c c c"  
  "c c c c c c c c c c c c c"  
  "c c c c c c c c c c c c c"  
  "c c c c c c c c c c c c c"  
}

.header {
  grid-area: h;
}

#headDate {
  position: absolute;
  top: 7%;
  right: 4%;
}

.content {
  grid-area: c;
  height: 100%;
}


.containerContent {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas :
  "l l l l m m m m r r r r"
  "l l l l m m m m r r r r"
  "l l l l m m m m r r r r"
  "l l l l m m m m r r r r"
  "l l l l m m m m r r r r"
  "l l l l m m m m r r r r"
  "l l l l m m m m r r r r"
  "l l l l m m m m r r r r"
  "l l l l m m m m r r r r"
  "l l l l m m m m r r r r"
  "l l l l m m m m r r r r"
  "l l l l m m m m r r r r"

}

.contentColLeft{
  grid-area: l;
}
.contentColMid{
  grid-area: m;
  height: 100%
}
.contentColRight{
  grid-area: r;
}

#mid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas :
    't t'
    'b b'
}

#midTop{
  grid-area: t;
  background-color: white;
}
#midBottom { 
  grid-area: b;
  background-color: white;
}

#right {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  'r r' 
  'o o'
}

#rightTop {
  grid-area: r;
  background-color: white;
  height: 100%
}

#rightBottom {
  grid-area: o;
  background-color: white;
  height: 100%
}

.stat {
    height: 100%;
    width: 100%;
    display: subgrid;
    grid-column-start: 1;
    grid-column-end: 5;
    overflow: auto;    
    background-color: white;
  }

  .containerLineChart{
   margin-top: 5px;
  }

