html,
body {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #F1F2F2;
  height: 100%;
  padding: 1px;
  margin: 0px;
}

#root {
  height: 100%;
}

.container>div {
  display: flex;
}

.container>div:nth-child(1n) {
  background-color: #E7E7E4;
}

.container>div:nth-child(2n) {
  background-color: #E7E7E4;
}

.container>div:nth-child(3n) {
  background-color: #cfcfcf;
}

.container>div:nth-child(4n) {
  background-color: #979796;
}